/* CSS Document */
.masthead {
	   vertical-align: top;
	   text-align:center;
	   width:1005px;
	   top:0;
	   padding-top:15px;
	   position: fixed;
	   background-color: rgba(255, 255, 255, 1);
	   color: rgba(1, 1, 1, 0.8);
	   z-index:1;
}
#display1 {
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	padding-top: 0px;
	height: 150px;
	text-align: left;
}
#display2, #display3, #display4, #display5 {
	margin-left: 5px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	padding-top: 0px;
	height: 150px;
	text-align: center;
}
.masthead img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10 px;
  border-radius: 10px;	
}
#titleBar {
   vertical-align: top;
   width:1005px;
   top:150px;
   position: fixed;
   background-color: rgba(255, 255, 255, 1);
   color: rgba(1, 1, 1, 0.8);
   z-index:1;
}
#navMenu {
	list-style-type:none;
}
li {
   font-family:  'Fanwood Text',georgia, serif;
   font-size: 1em;
}
.projectTitle {
   font-family : Verdana, Arial, Helvetica, sans-serif;
   font-size : 16pt;
   font-style : normal;
   font-weight : bold;
   line-height : 18pt;
}
a:link {
	text-decoration: none;
}
a:hover {
	font-style: italic;
}
a.annotation {
	text-decoration: none;
}
h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.25em;
	font-weight:bold;
	text-align: center;
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight:bold;
	text-align: left;
}
h2:before {
display: block;
content: " ";
margin-top: -300px;
height: 300px;
visibility: hidden;
}
h3 {
   margin-top: 2em;
   font-size: 1.25em;
   font-style: italic;                    
}
h3:before {
display: block;
content: " ";
margin-top: -300px;
height: 300px;
visibility: hidden;
}
a:link {
  text-decoration: none;
}
a:hover {
  font-weight: bold;
}
p.hang15 a:before {
display: inline-block;
content: " ";
margin-top: -360px;
height: 360px;
visibility: hidden;	
}
a.notePointer:before {
display: inline-block;
content: " ";
margin-top: -360px;
height: 360px;
visibility: hidden;	
}
sup.noteAnchor {
  font-size:.85em;
  font-weight: bold;
  color:red
}
.TOCLine1 {
	display: block;
	margin-top: 10px;
}

.TOCDate {
	text-align: left;
	position: absolute;
	width: 200px;
	left: 50px;
	font-weight: bold;
	}

.TOCCity {
	text-align: left;
	position: absolute;
	width: 149px;
	left: 251px;
	font-weight: bold;
	}


.TOCViews {
	text-align: left;
	position: absolute;
	width: 499px;
	left: 401px;
	font-weight: bold;
}

.TOCSummary {
	text-align: left;
	position: absolute;
	width: 800px;
	left: 50px;
	clear: both;
}

.footer {
	display: block;
	width: 850px;
	left: 50px;
	clear: both;
}

.COHUsig {
	position: absolute;
	width: 250px;
	left: 50px;
}

.accessibility {
	position: absolute;
	width: 600px;
	left: 300px;
}

.divider {
	line-height: 12px;
	margin: 8px 0px 0px;
	text-align: center;
}

p.listing { margin-top: 10px;  } 
                                        
p.listing a:before {
	display: inline-block;
    content: " ";
    margin-top: -300px;
    height: 300px;
    visibility: hidden;
}
hr { color: #888833; 
       clear: both;
}                     

img {margin:15px 0px 0px;}

div.floatleft img {
	margin:0px;
}
div.fl_img_right {
   float: right;
   text-align: center;
   margin: 5px 5px 5px 5px;
   clear:right;
}
table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	line-height: normal;
	border-width:1px;
	border-style:solid;
	border-color: #666; 
	border-collapse:collapse;
}
td {
	border-width:1px;
	border-style:solid;
	border-color: #666; 
	padding:4px;
}
.smalltext {
	font-size: 85%;
}               
.sictoggle {
    display:none;
}
.corrtoggle {
    display:none;
}

