                   .masthead {
                   vertical-align: top;
                   width:850px;
                   top:0;
                   padding-top:15px;
                   position: fixed;
                   background-color: rgba(255, 255, 255, 1);
                   color: rgba(1, 1, 1, 0.8);
                   z-index:1;
                   }
                   .mastheadl {
                   float : left;
                   width : 175px;
                   text-align : left;
                   left : 50px;
                   margin-top:0px;
                   padding-top:0px;
                   }
                   .mastheadc {
                   float:left;
                   width:500px;
                   margin-top:0px;
                   padding-top:0px;
                   }
                   .mastheadr {
                   float : left;
                   width : 175px;
                   text-align : right;
                   left : 700px;
                   margin-top:0px;
                   padding-top:0px;
                   }
                   /*#maintext {
                   position:relative;
                   top:320px;
                   width:500px;
                   margin-left:175px;
                   }*/
                   
               a:link {
               text-decoration: none;
               }
               a:hover {
               font-style: italic;
                   }
               a.annotation {
               text-decoration: none;
                   }
               a:before {
               display: inline-block;
               content: " ";
               margin-top: -300px;
               height: 300px;
               visibility: hidden;	
               }

               h1 {
                   font-size: 1.5em;
                   font-weight: bold;
                    
               }
               h2 {
                   font-size: 1.5em;
                   font-weight: bold;
                    
               }
               h2:before {
               display: block;
               content: " ";
               margin-top: -320px;
               height: 320px;
               visibility: hidden;
               }
               h3 {
                   margin-top: 2em;
                   font-size: 1.25em;
                   font-style: italic;                    
               }
               h3:before {
               display: block;
               content: " ";
               margin-top: -320px;
               height: 320px;
               visibility: hidden;
               }
               hr {
                 clear: right;
               }
               div.fl_img_right {
                   float: right;
                   text-align: center;
                   margin: 5px 5px 5px 5px;
               }
               div.blockquote {
                   margin-left: 50px;
               }
               div.epigraph {
                   margin-left: 50px;
                   font-size:.85em;
               }
               .projectTitle {
                   font-family : Verdana, Arial, Helvetica, sans-serif;
                   font-size : 16pt;
                   font-style : normal;
                   font-weight : bold;
                   line-height : 18pt;
               }
               .revTable {
                   font-size: 1em;
                   font-family: 'Fanwood Text',georgia, serif;
                    
               }
               .links {
                   font-size: .85em;
                   text-align: center;
                    
               }
               .bibl {
                   text-indent: -1em;
                   margin-left: 1em;
                    
               }
               .float_right {
                   float: right;
                   margin: 10px 10px 10px 10px;                   
               }
               .sictoggle {
               display:none;
               }
               .corrtoggle {
               display:none;
               }

