                .masthead {
               vertical-align: top;
               width:850px;
               top:0;
               padding-top:15px;
               position: fixed;
               background-color: rgba(255, 255, 255, 1);
               color: rgba(1, 1, 1, 0.8);
               z-index:1;
               }
               .mastheadl {
               float : left;
               width : 175px;
               text-align : left;
               left : 50px;
               margin-top:0px;
               padding-top:0px;
               }
               .mastheadc {
               float:left;
               width:500px;
               margin-top:0px;
               padding-top:0px;
               }
               .mastheadr {
               float : left;
               width : 175px;
               text-align : right;
               position : absolute;
               top : 15px;
               left : 700px;
               margin-top:0px;
               padding-top:0px;
               }
               a:link {
               text-decoration: none;
               }
               a:hover {
               font-style: italic;
                   }
               a.annotation {
               text-decoration: none;               
                   }
               a[name] {
               display: inline-block;
               content: " ";
               margin-top: -300px;
               height: 300px;
               visibility: hidden;	
               }
               div.pagebreak {
                   margin-top : 25px;
                   margin-bottom : 0px;
                   text-align : center;
               }
               div.envelope {
                   font-size : .85em;
                   width: 50%;
               }
               .msDesc {
                   font-size : .85em;
                   width: 50%;
               }
               .half-width {
                   width : 50%;
               }
               hr {
                   color : #888833;
                   clear : left;
               }
               div#letter {
                   border: 3px groove #666666;
                   padding: 5px;
               }
               h1 {
                   font-family : Verdana, Arial, Helvetica, sans-serif;
                   font-size : 16pt;
                   font-style : normal;
               }
               h2 {
               }
               h3 {
               }
               sup {
               }
               img {
                   float : left;
                   padding : 5px;
                   margin-top : 5px;
                   margin-bottom : 5px;
               }
               .nocancel {
                   text-decoration : none;
                   color : #000000;
               }
               .cancel {
                   text-decoration : line-through;
                   color : #FF0000;
               }
               div.fl_img_right {
                   float : right;
                   text-align : center;
                   margin : 5px 5px 5px 5px;
               }
               .ProjectTitle {
                   font-family : Verdana, Arial, Helvetica, sans-serif;
                   font-size : 16pt;
                   font-style : normal;
                   font-weight : bold;
                   line-height : 18pt;
               }
               .hang15 {
                   margin-left : 40px;
                   text-indent : -15px;
               }
               .hang25 {
                   margin-left : 40px;
                   text-indent : -25px;
               }
               .hang35 {
                   margin-left : 40px;
                   text-indent : -35px;
               }
               table {
                   text-align : right;
               }
               .sictoggle {
               display:none;
               }
               .corrtoggle {
               display:none;
               }
